# dependencies
node_modules/

# misc
.DS_Store
*.pem

# debug
bun-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
dist/

# vercel
.vercel

# testing
coverage

# next.js
.next/
out/

# turbo
.turbo

# env
.env

# local uploads
backend/uploads/
admin/backend/uploads/

/bun.lock
