OPENAI_API_KEY=

# Vector Store (e.g. Supabase, Pinecone, etc.)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# LangSmith for tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=ai-pdf-chatbot
